{
    "SINGULAR_PLURAL_FIELDS_LONG": {
        "sourceAchievement": "sourceAchievements",
        "sourceQuest": "sourceQuests",
        "altQuestID": "altQuests",
        "qg": "qgs",
        "cr": "crs"
    },
    "NON_SORTED_FIELDS": [
        "crs",
        "qgs",
        "difficulties",
        "zone-text-areas"
    ],
    "PASS_THRU_FIELDS": [
        "maps_disp",
    ]
}