{
    "root-addon": "../..",
    "root-data": "./DATAS",
    "db-relative": "Retail/.beta/",
    "wago-directory": "../.wago/Beta",
    "DataPhase": "TWW",
    "DataPatch": [
        11,
        0,
        2,
        56110
    ],
    "PreProcessorTags" : [
        "RETAIL",
		"EXPLORATION",
		"COMMON_QUALITY_TRANSMOGS",
    ]
}