{
	"root-addon": "../..",
	"root-data": "./DATAS",
	"db-relative": "Retail/.ptr/",
	"wago-directories": [
		"../.wago/PTR",
	],
	"DataPhase": "TWW",
	"DataPatch": [
		11,
		2,
		5,
		99999
	],
	"PreProcessorTags" : [
        "RETAIL",
		"PTR", "PTR2",
		"EXPLORATION",
		"COMMON_QUALITY_TRANSMOGS",
    ]
}
